<div class="container disable">
  <h2>Easy Image Editor</h2>
  <div class="wrapper">
    <div class="editor-panel">
      <div class="filter">
        <label class="title">Filters</label>
        <div class="options">
          <button *ngFor="let option of filterOptions" 
                  [id]="option.id" 
                  [class.active]="option.active"
                  (click)="selectFilter(option)">
            {{ option.name }}
          </button>
        </div>
        <div class="slider">
          <div class="filter-info">
            <p class="name">{{ selectedFilter.name }}</p>
            <p class="value">{{ filterSlider.value }}%</p>
          </div>
          <input type="range" 
                 [value]="filterSlider.value" 
                 [min]="0" 
                 [max]="filterSlider.max" 
                 (input)="updateFilter()"
                 [(ngModel)]="filterSlider.value">
        </div>
      </div>
      <div class="filter">
        <label class="title">Rotate & Flip</label>
        <div class="options">
          <button id="left" (click)="rotateImage('left')">
            Rotate Left
          </button>
          <button id="right" (click)="rotateImage('right')">
            Rotate Right
          </button>
         
        </div>
        <div class="options">
          <button id="horizontal" (click)="flipImage('horizontal')">
            Horizontal
          </button>
          <button id="vertical" (click)="flipImage('vertical')">
            Vertical
          </button>
        </div>
      </div>
    </div>
    <div class="preview-img">
      <img #previewImg src="https://ajay-dhangar.github.io/Image-Editor/image-placeholder.svg" alt="preview-img">
    </div>
  </div>
  <div class="controls">
    <button class="reset-filter" (click)="resetFilter()">Reset Filters</button>
    <div class="row">
      <input type="file" class="file-input" accept="image/*" hidden (change)="loadImage($event)">
      <button class="choose-img" (click)="chooseImage()">Choose Image</button>
      <button class="save-img" (click)="saveImage()">Save Image</button>
    </div>
  </div>
</div>
